<section class="events__area pt-115 pb-120 p-relative">
    <div class="events__shape">
       <img class="events-1-shape" src="assets/img/events/events-shape.png" alt="">
    </div>
    <div class="container">
       <div class="row">
          <div class="col-xxl-4 offset-xxl-4">
             <div class="section__title-wrapper mb-60 text-center">
                <h2 class="section__title">Current <span class="yellow-bg yellow-bg-big">Events<img src="assets/img/shape/yellow-bg.png" alt=""></span></h2>
                <p>We found 13 events available for you.</p>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-xxl-10 offset-xxl-1 col-xl-10 offset-xl-1 col-lg-10 offset-lg-1">
             <div class="events__item mb-10 hover__active">
                <div class="events__item-inner d-sm-flex align-items-center justify-content-between white-bg">
                   <div class="events__content">
                      <div class="events__meta">
                         <span>Jun 14, 2022</span>
                         <span>12:00 am - 2:30 pm</span>
                         <span>New York</span>
                      </div>
                      <h3 class="events__title"><a [routerLink]="['/event-details']">Digital transformation conference</a></h3>
                   </div>
                   <div class="events__more">
                      <a [routerLink]="['/event-details']" class="link-btn">
                         View More
                         <i class="far fa-arrow-right"></i>
                         <i class="far fa-arrow-right"></i>
                      </a>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-xxl-10 offset-xxl-1 col-xl-10 offset-xl-1 col-lg-10 offset-lg-1">
             <div class="events__item mb-10 hover__active active">
                <div class="events__item-inner d-sm-flex align-items-center justify-content-between white-bg">
                   <div class="events__content">
                      <div class="events__meta">
                         <span>April 10, 2022</span>
                         <span>9:00 am - 5:00 pm</span>
                         <span>Mindahan</span>
                      </div>
                      <h3 class="events__title"><a [routerLink]="['/event-details']">World education day conference</a></h3>
                   </div>
                   <div class="events__more">
                      <a [routerLink]="['/event-details']" class="link-btn">
                         View More
                         <i class="far fa-arrow-right"></i>
                         <i class="far fa-arrow-right"></i>
                      </a>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-xxl-10 offset-xxl-1 col-xl-10 offset-xl-1 col-lg-10 offset-lg-1">
             <div class="events__item mb-10 hover__active">
                <div class="events__item-inner d-sm-flex align-items-center justify-content-between white-bg">
                   <div class="events__content">
                      <div class="events__meta">
                         <span>July 16, 2022</span>
                         <span>10:30 am - 1:30 pm</span>
                         <span>Weedpatch</span>
                      </div>
                      <h3 class="events__title"><a [routerLink]="['/event-details']">Foundations of global health</a></h3>
                   </div>
                   <div class="events__more">
                      <a [routerLink]="['/event-details']" class="link-btn">
                         View More
                         <i class="far fa-arrow-right"></i>
                         <i class="far fa-arrow-right"></i>
                      </a>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-xxl-10 offset-xxl-1 col-xl-10 offset-xl-1 col-lg-10 offset-lg-1">
             <div class="events__item mb-10 hover__active">
                <div class="events__item-inner d-sm-flex align-items-center justify-content-between white-bg">
                   <div class="events__content">
                      <div class="events__meta">
                         <span>March 24, 2022</span>
                         <span>10:30 am - 12:00 pm</span>
                         <span>Lnland</span>
                      </div>
                      <h3 class="events__title"><a [routerLink]="['/event-details']">Business creativity workshops</a></h3>
                   </div>
                   <div class="events__more">
                      <a [routerLink]="['/event-details']" class="link-btn">
                         View More
                         <i class="far fa-arrow-right"></i>
                         <i class="far fa-arrow-right"></i>
                      </a>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
