<section class="teacher__area pt-100 pb-110">
  <div class="page__title-shape">
     <img class="page-title-shape-5 d-none d-sm-block" src="assets/img/page-title/page-title-shape-1.png" alt="">
     <img class="page-title-shape-6" src="assets/img/page-title/page-title-shape-6.png" alt="">
     <img class="page-title-shape-3" src="assets/img/page-title/page-title-shape-3.png" alt="">
     <img class="page-title-shape-7" src="assets/img/page-title/page-title-shape-4.png" alt="">
  </div>
  <div class="container">
     <div class="row">
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
           <div class="teacher__details-thumb p-relative w-img pr-30">
              <img src="{{this.img}}" alt="">
              <div class="teacher__details-shape">
                 <img class="teacher-details-shape-1" src="assets/img/teacher/details/shape/shape-1.png" alt="">
                 <img class="teacher-details-shape-2" src="assets/img/teacher/details/shape/shape-2.png" alt="">
              </div>
           </div>
        </div>
        <div class="col-xxl-8 col-xl-8 col-lg-8">
           <div class="teacher__wrapper">
              <div class="teacher__top d-md-flex align-items-end justify-content-between">
                 <div class="teacher__info">
                    <h4>{{instructor.name}} {{instructor.surname}}</h4>
                 </div>
                 <div class="teacher__rating">
                    <h5>Review:</h5>
                    <div class="teacher__rating-inner d-flex align-items-center">
                       <ul>
                          <li><a href="#"> <i class="icon_star"></i> </a></li>
                          <li><a href="#"> <i class="icon_star"></i> </a></li>
                          <li><a href="#"> <i class="icon_star"></i> </a></li>
                          <li><a href="#"> <i class="icon_star"></i> </a></li>
                          <li><a href="#"> <i class="icon_star"></i> </a></li>
                       </ul>
                       <p>4.5</p>
                    </div>
                 </div>
                 <div class="teacher__social-2">
                    <h4>Follow Us:</h4>
                    <ul>
                       <li>
                          <a href="#">
                             <i class="social_facebook"></i>
                          </a>
                       </li>
                       <li>
                          <a href="#">
                             <i class="social_twitter ms-2"></i>
                          </a>
                       </li>
                       <li>
                          <a href="#">
                             <i class="social_vimeo ms-2"></i>
                          </a>
                       </li>
                       <li>
                          <a href="#">
                             <i class="social_linkedin ms-2"></i>
                          </a>
                       </li>
                    </ul>
                 </div>
              </div>
              <div class="teacher__bio">
                <div class="contact__form" style="margin-top: 3%; margin-bottom: 5%;">
                  <form [formGroup]="instructorForm">
                    <div class="row">
                      <div class="col-6" style="margin: 0 auto">
                        <div class="col-xxl-12 col-xl-12 col-md-12">
                          <div class="contact__form-input">
                            <h5>Instructor Name</h5>
                            <input type="text" placeholder="Instructor Name" formControlName="name">
                          </div>
                        </div>

                        <div class="col-xxl-12 col-xl-12 col-md-12">
                          <div class="contact__form-input">
                            <h5>Instructor Surname</h5>
                            <input type="text" placeholder="Instructor Surname" formControlName="surname">
                          </div>
                        </div>

                        <div class="col-xxl-12 col-xl-12 col-md-12">
                          <div class="contact__form-input">
                            <h5>Instructor Email</h5>
                            <input type="text" placeholder="Instructor Email" formControlName="email">
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-12" style="margin: 0 auto;">
                            <h5>Select Course</h5>
                            <div class="country-select">
                              <select formControlName="courses">
                                <!-- <option
                                *ngFor="let c of instructor.lessons"> {{ c.name }} </option> -->
                                <option value="İngilizce"> İngilizce </option>
                                <option value="Arapça"> Arapça </option>
                              </select>
                              <br>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-12" style="margin: 0 auto;">
                            <h5>Select Working Days</h5>
                            <div class="country-select">
                              <select formControlName="workingDays">
                                <!-- <option
                                *ngFor="let c of instructor.workingTimes"> {{ c.day }} </option> -->
                                <option value="1">Pazartesi</option>
                                <option value="2">Salı</option>
                                <option value="3">Çarşamba</option>
                                <option value="4">Perşembe</option>
                                <option value="5">Cuma</option>
                              </select>
                              <br>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-12" style="margin: 0 auto;">
                            <h5>Select Working Start Time</h5>
                            <div class="country-select">
                              <select formControlName="workingStartTimes">
                                <!-- <option
                                *ngFor="let c of instructor.workingTimes"> {{ c.day }} </option> -->
                                <option value="9">09:00:00</option>
                                <option value="10">10:00:00</option>
                                <option value="11">11:00:00</option>
                                <option value="12">12:00:00</option>
                                <option value="13">13:00:00</option>
                                <option value="14">14:00:00</option>
                                <option value="15">15:00:00</option>
                                <option value="16">16:00:00</option>
                                <option value="17">17:00:00</option>
                                <option value="18">18:00:00</option>
                              </select>
                              <br>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-12" style="margin: 0 auto;">
                            <h5>Select Working End Time</h5>
                            <div class="country-select">
                              <select formControlName="workingEndTimes">
                                <!-- <option
                                *ngFor="let c of instructor.workingTimes"> {{ c.day }} </option> -->
                                <option value="10">10:00:00</option>
                                <option value="11">11:00:00</option>
                                <option value="12">12:00:00</option>
                                <option value="13">13:00:00</option>
                                <option value="14">14:00:00</option>
                                <option value="15">15:00:00</option>
                                <option value="16">16:00:00</option>
                                <option value="17">17:00:00</option>
                                <option value="18">18:00:00</option>
                                <option value="19">19:00:00</option>
                              </select>
                              <br>
                            </div>
                          </div>
                        </div>

                        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 justify-content-between">
                          <div class="row ">
                            <div class="contact__btn col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                              <button type="submit" class="btn btn-primary" (click)="instructorUpdate()"> Instructor Update</button>
                            </div>
                            <div class="contact__btn col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                              <button type="submit" class="btn btn-danger" (click)="instructorDelete()"> Instructor Delete</button>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</section>
