<section class="teacher__area pt-115 pb-110">
  <div class="container">
     <div class="row">
        <div class="col-xxl-6 offset-xxl-3">
           <div class="section__title-wrapper text-center mb-60">
              <h2 class="section__title">Our Most <br>
                 Popular <span class="yellow-bg"> Teachers <img src="assets/img/shape/yellow-bg-2.png" alt="">  </span> <br>
              </h2>
              <p>You don't have to struggle alone, you've got our assistance and help.</p>
           </div>
        </div>
     </div>
     <div class="row">
        <div *ngFor="let instructor of instructorData" class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
           <div class="teacher__item text-center grey-bg-5 transition-3 mb-30">
              <div class="teacher__thumb w-img fix">
                 <a href="#">
                    <img src="{{instructor.img}}" alt="">
                 </a>
              </div>
              <div class="teacher__content">
                 <h3 class="teacher__title">{{instructor.name}}</h3>
                 <span> {{instructor.title}}</span>

                 <div class="teacher__social">
                    <ul>
                       <li><a href="#"><i class="social_facebook"></i></a></li>
                       <li><a href="#"><i class="social_twitter"></i></a></li>
                       <li><a href="#"><i class="social_vimeo"></i></a></li>
                    </ul>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</section>
