<section class="slider__area p-relative">
    <div class="slider__wrapper swiper-container">
        <swiper class="swiper-wrapper" [slidesPerView]="1" [loop]="true"
            [effect]="'fade'"
            [autoplay]="{delay: 5000,disableOnInteraction: false}">

            <ng-template swiperSlide>
                <div class="single-slider swiper-slide slider__height slider__overlay d-flex align-items-center" [ngStyle]="{background:'url(assets/img/slider/slider-4.jpg)',backgroundRepeat:'no-repeat',backgroundSize:'cover',backgroundPosition:'center'}">
                    <div class="container">
                        <div class="row">
                            <div class="col-xxl-7 col-xl-8 col-lg-9 col-md-9 col-sm-10">
                                <div class="slider__content">
                                    <span>Learn & Achieve</span>
                                    <h3 class="slider__title">Find the right Online <span class="yellow-bg">tutor
                                    <img src="assets/img/shape/yellow-bg.png" alt=""> </span> for you.</h3>
                                    <p>Meet university,and cultural institutions, who'll share their experience.</p>
                                    <a [routerLink]="['/about']" class="e-btn slider__btn">Ready to get Started?</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template swiperSlide>
               <div class="single-slider swiper-slide slider__height slider__overlay d-flex align-items-center" [ngStyle]="{background:'url(assets/img/slider/slider-1.jpg)',backgroundRepeat:'no-repeat',backgroundSize:'cover',backgroundPosition:'center'}">
                   <div class="container">
                       <div class="row">
                           <div class="col-xxl-7 col-xl-8 col-lg-9 col-md-9 col-sm-10">
                               <div class="slider__content">
                                   <span>Learn & Achieve</span>
                                   <h3 class="slider__title">Fundamentals of music <span class="yellow-bg">theory <img src="assets/img/shape/yellow-bg.png" alt=""> </span> Learn</h3>
                                   <p>Meet university,and cultural institutions, who'll share their experience.</p>
                                   <a [routerLink]="['/about']" class="e-btn slider__btn">Ready to get Started?</a>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </ng-template>

            <ng-template swiperSlide>
               <div class="single-slider swiper-slide slider__height slider__overlay d-flex align-items-center" [ngStyle]="{background:'url(assets/img/slider/slider-2.jpg)',backgroundRepeat:'no-repeat',backgroundSize:'cover',backgroundPosition:'center'}">
                   <div class="container">
                       <div class="row">
                           <div class="col-xxl-7 col-xl-8 col-lg-9 col-md-9 col-sm-10">
                               <div class="slider__content">
                                   <span>Learn & Achieve</span>
                                   <h3 class="slider__title">Become a product  <span class="yellow-bg">Manager <img src="assets/img/shape/yellow-bg.png" alt=""> </span> & learn.</h3>
                                   <p>Meet university,and cultural institutions, who'll share their experience.</p>
                                   <a [routerLink]="['/about']" class="e-btn slider__btn">Ready to get Started?</a>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </ng-template>

            <ng-template swiperSlide>
               <div class="single-slider swiper-slide slider__height slider__overlay d-flex align-items-center" [ngStyle]="{background:'url(assets/img/slider/slider-3.jpg)',backgroundRepeat:'no-repeat',backgroundSize:'cover',backgroundPosition:'center'}">
                   <div class="container">
                       <div class="row">
                           <div class="col-xxl-7 col-xl-8 col-lg-9 col-md-9 col-sm-10">
                               <div class="slider__content">
                                   <span>Learn & Achieve</span>
                                   <h3 class="slider__title">Launch your <span class="yellow-bg">online <img src="assets/img/shape/yellow-bg.png" alt=""> </span> learning Platform.</h3>
                                   <p>Meet university,and cultural institutions, who'll share their experience.</p>
                                   <a [routerLink]="['/about']" class="e-btn slider__btn">Ready to get Started?</a>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </ng-template>
        </swiper>
    </div>

    <div class="row g-0">
        <div *ngFor="let item of sliderNavData" class="d-none d-md-block col-md-6 col-lg-3">
            <div class="slider__nav-item swiper-slide" [class]="item.bgColor"
            [ngStyle]="{background:'url('+ item.img +')',backgroundRepeat:'no-repeat',backgroundSize:'cover',backgroundPosition:'center'}">
                <div class="slider__nav-content">
                    <span>{{item.title}}</span>
                    <h4>{{item.subtitle}}</h4>
                </div>
            </div>
        </div>
    </div>

</section>
