<header>
  <div id="header-sticky"
    [ngClass]="headerSticky ? 'header__area header__transparent header__padding-2 sticky' : 'header__area header__transparent header__padding-2' ">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xxl-2 col-xl-2 col-lg-6 col-md-6 col-sm-6 col-6">
          <div class="header__left d-flex">
            <div class="logo">
              <a [routerLink]="['/home-two']">
                <img class="logo-white" src="assets/img/logo/logo-2.png" alt="logo">
                <img class="logo-black" src="assets/img/logo/logo.png" alt="logo">
              </a>
            </div>
          </div>
        </div>
        <div class="col-xxl-5 col-xl-5 d-none d-xl-block">
          <div class="main-menu main-menu-3">
            <nav id="mobile-menu">
              <ul>
                <li class="has-dropdown">
                  <a [routerLink]="['/courses']">Courses</a>
                  <ul class="submenu">
                    <li><a [routerLink]="['/courses']">Courses</a></li>
                    <li><a [routerLink]="['/courses-list']">Course List</a></li>
                    <li><a [routerLink]="['/course-add']" *ngIf="courseAddUpdateAuthenticate()">Course Add</a></li>
                    <li><a [routerLink]="['/course-update']" *ngIf="courseAddUpdateAuthenticate()">Course Update</a></li>
                  </ul>
                </li>
                <li>
                  <a [routerLink]="['/my-courses']">My Courses</a>
                </li>
                <li class="has-dropdown" *ngIf="isAuthorized() && (loggedUserIsManager() || loggedUserIsRegistrar())">
                  <a [routerLink]="['/instructor']">Instructors</a>
                  <ul class="submenu">
                    <li><a [routerLink]="['/instructor']">Instructor List</a></li>
                    <li><a [routerLink]="['/instructor-add']">Instructor Add</a></li>
                    <li><a [routerLink]="['/instructor-update']">Instructor Update</a></li>
                  </ul>
                </li>
                <li *ngIf="isAuthorized() && loggedUserIsManager()">
                  <a [routerLink]="['/managers']">Managers</a>
                </li>
                <li class="has-dropdown">
                  <a [routerLink]="['/blog']">Blog</a>
                  <ul class="submenu">
                    <li><a [routerLink]="['/blog']">Blog</a></li>
                    <li><a [routerLink]="['/blog-details']">Blog Details</a></li>
                  </ul>
                </li>
                <li class="has-dropdown">
                  <a [routerLink]="['/courses']">Pages</a>
                  <ul class="submenu">
                    <li><a [routerLink]="['/about']">About</a></li>
                    <li><a [routerLink]="['/instructor']">Instructor</a></li>
                    <li><a [routerLink]="['/instructor-details']">Instructor Details</a></li>
                    <li><a [routerLink]="['/cart']">My Cart</a></li>
                    <li><a [routerLink]="['/wishlist']">My Wishlist</a></li>
                    <li><a [routerLink]="['/checkout']">checkout</a></li>
                    <li><a [routerLink]="['/sign-in']">Sign In</a></li>
                    <li><a [routerLink]="['/sign-up']">Sign Up</a></li>
                    <li><a [routerLink]="['/error']">Error</a></li>
                  </ul>
                </li>
                <li><a [routerLink]="['/contact']">Contact</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-xxl-5 col-xl-5 col-lg-6 col-md-6 col-sm-6 col-6">
          <div class="header__right d-flex justify-content-end align-items-center">
            <div class="header__search-2" (click)="handleSearch()">
              <svg class="search-toggle" viewBox="0 0 584.4 584.4">
                <g>
                  <g>
                    <path class="st0"
                      d="M565.7,474.9l-61.1-61.1c-3.8-3.8-8.8-5.9-13.9-5.9c-6.3,0-12.1,3-15.9,8.3c-16.3,22.4-36,42.1-58.4,58.4    c-4.8,3.5-7.8,8.8-8.3,14.5c-0.4,5.6,1.7,11.3,5.8,15.4l61.1,61.1c12.1,12.1,28.2,18.8,45.4,18.8c17.1,0,33.3-6.7,45.4-18.8    C590.7,540.6,590.7,499.9,565.7,474.9z" />
                    <path class="st1"
                      d="M254.6,509.1c140.4,0,254.5-114.2,254.5-254.5C509.1,114.2,394.9,0,254.6,0C114.2,0,0,114.2,0,254.5    C0,394.9,114.2,509.1,254.6,509.1z M254.6,76.4c98.2,0,178.1,79.9,178.1,178.1s-79.9,178.1-178.1,178.1S76.4,352.8,76.4,254.5    S156.3,76.4,254.6,76.4z" />
                  </g>
                </g>
              </svg>
            </div>
            <div class="header__btn header__btn-2 ml-30 d-none d-sm-block" *ngIf="!isAuthorized()">
              <a [routerLink]="['/sign-in']" class="e-btn">Sign in</a>
            </div>
            <div class="header__btn header__btn-2 ml-30 d-none d-sm-block" *ngIf="!isAuthorized()">
              <a [routerLink]="['/sign-up']" class="e-btn">Sign up</a>
            </div>

            <div class="dropdown ml-25" *ngIf="isAuthorized()">
              <button class="dropbtn"><i class="fal fa-user"></i></button>
              <div class="dropdown-content">
                <a href="#" (click)="signOut()">Sign Out</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
              </div>
            </div>

            <div class="sidebar__menu d-xl-none">
              <div (click)="handleSidebar()" class="sidebar-toggle-btn sidebar-toggle-btn-white ml-30"
                id="sidebar-toggle">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>


<!-- search area start -->
<div [class.search-opened]="searchBar" class="header__search-3 white-bg transition-3">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="header__search-3-inner text-center">
          <form action="#">
            <div class="header__search-3-btn" (click)="handleSearchClose()">
              <a href="javascript:void(0);" class="header__search-3-btn-close"><i class="fal fa-times"></i></a>
            </div>
            <div class="header__search-3-header">
              <h3>Search</h3>
            </div>
            <div class="header__search-3-categories">
              <ul class="search-category">
                <li><a [routerLink]="['/courses']">All Categories</a></li>
                <li><a [routerLink]="['/courses']">Accessories</a></li>
                <li><a [routerLink]="['/courses']">Chair</a></li>
                <li><a [routerLink]="['/courses']">Tablet</a></li>
                <li><a [routerLink]="['/courses']">Men</a></li>
                <li><a [routerLink]="['/courses']">Women</a></li>

              </ul>
            </div>
            <div class="header__search-3-input p-relative">
              <input type="text" placeholder="Search for products... ">
              <button type="submit"><i class="far fa-search"></i></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- search area end -->

<!-- sidebar area start -->
<div class="sidebar__area" [class.sidebar-opened]="showSidebar">
  <div class="sidebar__wrapper">
    <div (click)="handleSidebarClose()" class="sidebar__close">
      <button class="sidebar__close-btn" id="sidebar__close-btn">
        <span><i class="fal fa-times"></i></span>
        <span>close</span>
      </button>
    </div>
    <div class="sidebar__content">
      <div class="logo mb-40">
        <a [routerLink]="['/']">
          <img src="../../assets/img/logo/logo.png" alt="logo">
        </a>
      </div>

      <div class="side-info-content sidebar-menu mm-menu">

        <ul>
          <li class="menu-item-has-children has-droupdown" [class.active]="showHomeDropdown">
            <a (click)="homeDropdown()">Home</a>
            <ul class="sub-menu" [class.active]="showHomeDropdown">
              <li>
                <a [routerLink]="['/']">Home Style 1</a>
              </li>
              <li>
                <a [routerLink]="['/home-two']">Home Style 2</a>
              </li>
              <li>
                <a [routerLink]="['/home-three']">Home Style 3</a>
              </li>
            </ul>
          </li>

          <li class="menu-item-has-children has-droupdown" [class.active]="showCoursesDropdown">
            <a (click)="coursesDropdown()">Courses</a>
            <ul class="sub-menu" [class.active]="showCoursesDropdown">
              <li>
                <a [routerLink]="['/courses']">Courses</a>
              </li>
              <li>
                <a [routerLink]="['/courses-list']">Course List</a>
              </li>
              <li>
                <a [routerLink]="['/courses-sidebar']">Course sidebar </a>
              </li>
              <li>
                <a [routerLink]="['/course-details']">Course Details</a>
              </li>
            </ul>
          </li>

          <li class="menu-item-has-children has-droupdown" [class.active]="showBlogDropdown">

            <a (click)="blogDropdown()">Blog</a>
            <ul class="sub-menu" [class.active]="showBlogDropdown">
              <li><a [routerLink]="['/blog']">Blog</a></li>
              <li><a [routerLink]="['/blog-details']">Blog Details</a></li>
            </ul>
          </li>

          <li class="menu-item-has-children has-droupdown" [class.active]="showPagesDropdown">
            <a (click)="pagesDropDown()">Pages</a>
            <ul class="sub-menu" [class.active]="showPagesDropdown">
              <li><a [routerLink]="['/about']">About</a></li>
              <li><a [routerLink]="['/instructor']">Instructor</a></li>
              <li><a [routerLink]="['/instructor-details']">Instructor Details</a></li>
              <li><a [routerLink]="['/event-details']">Event Details</a></li>
              <li><a [routerLink]="['/cart']">My Cart</a></li>
              <li><a [routerLink]="['/wishlist']">My Wishlist</a></li>
              <li><a [routerLink]="['/checkout']">checkout</a></li>
              <li><a [routerLink]="['/sign-in']">Sign In</a></li>
              <li><a [routerLink]="['/sign-up']">Sign Up</a></li>
              <li><a [routerLink]="['/error']">Error</a></li>
            </ul>
          </li>

          <li>
            <a [routerLink]="['/contact']" class="border-0">Contact</a>
          </li>

        </ul>
      </div>

      <div class="sidebar__search p-relative mt-40 ">
        <form action="#">
          <input type="text" placeholder="Search...">
          <button type="submit"><i class="fad fa-search"></i></button>
        </form>
      </div>
      <div class="sidebar__cart mt-30">
        <a href="#">
          <div class="header__cart-icon">
            <svg viewBox="0 0 24 24">
              <circle class="st0" cx="9" cy="21" r="1" />
              <circle class="st0" cx="20" cy="21" r="1" />
              <path class="st0" d="M1,1h4l2.7,13.4c0.2,1,1,1.6,2,1.6h9.7c1,0,1.8-0.7,2-1.6L23,6H6" />
            </svg>
          </div>
          <span class="cart-item">3</span>
        </a>
      </div>
    </div>
  </div>
</div>

<div (click)="handleSidebarClose()" class="body-overlay" [class.opened]="showSidebar"></div>
<!-- sidebar area end -->
