<section class="testimonial__area testimonial__overlay pt-175 pb-170"
   [ngStyle]="{background:'url(assets/img/testimonial/testimonial-bg.jpg)',backgroundRepeat:'no-repeat',backgroundSize:'cover',backgroundPosition:'center'}">
   <div class="container p-relative">
      <div class="col-xxl-12">
         <div class="testimonial__slider swiper-container">
            <div class="testimonial__slider-inner ">
               <swiper class="swiper-wrapper" [slidesPerView]="1" [loop]="true"
                  [navigation]="{nextEl:'.swiper-button-next',prevEl:'.swiper-button-prev'}" [autoplay]="{
                    delay: 2500,
                    disableOnInteraction: false
                }">
                  <ng-template swiperSlide>
                     <div class="testimonial__item text-center">
                        <div class="testimonial__thumb">
                           <img src="assets/img/testimonial/testi-1.jpg" alt="">
                        </div>
                        <div class="testimonial__content">
                           <p>“ Barmy loo sloshed porkiesdo with me down the pub say bubble and squeak. ”</p>

                           <div class="testimonial__info">
                              <h4>Jason Response</h4>
                              <span>UX Designer</span>
                           </div>
                        </div>
                     </div>
                  </ng-template>
                  <ng-template swiperSlide>
                     <div class="testimonial__item text-center">
                        <div class="testimonial__thumb">
                           <img src="assets/img/testimonial/testi-1.jpg" alt="">
                        </div>
                        <div class="testimonial__content">
                           <p>“ Barmy loo sloshed porkiesdo with me down the pub say bubble and squeak. ”</p>

                           <div class="testimonial__info">
                              <h4>Jason Response</h4>
                              <span>UX Designer</span>
                           </div>
                        </div>
                     </div>
                  </ng-template>
               </swiper>

            </div>
            <div class="swiper-button-next swiper-nav"><i class="far fa-arrow-right"></i></div>
            <div class="swiper-button-prev swiper-nav"><i class="far fa-arrow-left"></i></div>
         </div>
      </div>
   </div>
</section>