<section class="course__area pt-120 pb-120">
  <div class="container">
     <div class="row">
        <div class="col-xxl-8 col-xl-8 col-lg-8">
           <div class="course__tab-inner grey-bg-2 mb-50 d-sm-flex justify-content-between align-items-center">
              <div class="course__tab-wrapper d-flex align-items-center">
                 <div class="course__tab-btn">
                    <ul class="nav nav-tabs" id="courseTab" role="tablist">
                       <li class="nav-item" role="presentation">
                          <button class="nav-link active" id="grid-tab" data-bs-toggle="tab" data-bs-target="#grid" type="button" role="tab" aria-controls="grid" aria-selected="true">
                          <svg class="grid" viewBox="0 0 24 24">
                             <rect x="3" y="3" class="st0" width="7" height="7"/>
                             <rect x="14" y="3" class="st0" width="7" height="7"/>
                             <rect x="14" y="14" class="st0" width="7" height="7"/>
                             <rect x="3" y="14" class="st0" width="7" height="7"/>
                             </svg>
                          </button>
                       </li>
                       <li class="nav-item" role="presentation">
                          <button class="nav-link list" id="list-tab" data-bs-toggle="tab" data-bs-target="#list" type="button" role="tab" aria-controls="list" aria-selected="false">
                          <svg class="list" viewBox="0 0 512 512">
                             <g>
                                <path class="st0" d="M448,69H192c-17.7,0-32,13.9-32,31s14.3,31,32,31h256c17.7,0,32-13.9,32-31S465.7,69,448,69z"/>
                                <circle class="st0" cx="64" cy="100" r="31"/>
                                <path class="st0" d="M448,225H192c-17.7,0-32,13.9-32,31s14.3,31,32,31h256c17.7,0,32-13.9,32-31S465.7,225,448,225z"/>
                                <circle class="st0" cx="64" cy="256" r="31"/>
                                <path class="st0" d="M448,381H192c-17.7,0-32,13.9-32,31s14.3,31,32,31h256c17.7,0,32-13.9,32-31S465.7,381,448,381z"/>
                                <circle class="st0" cx="64" cy="412" r="31"/>
                             </g>
                             </svg>
                          </button>
                       </li>
                    </ul>
                 </div>
                 <div class="course__view">
                    <h4>Showing 1 - 9 of 84</h4>
                 </div>
              </div>
              <div class="course__sort d-flex justify-content-sm-end">
                 <div class="course__sort-inner">
                    <select>
                       <option>Default</option>
                       <option>Option 1</option>
                       <option>Option 2</option>
                       <option>Option 3</option>
                       <option>Option 4</option>
                       <option>Option 5</option>
                       <option>Option 6</option>
                    </select>
                 </div>
              </div>
           </div>

           <div class="course__tab-conent">
              <div class="tab-content" id="courseTabContent">
                 <div class="tab-pane fade show active" id="grid" role="tabpanel" aria-labelledby="grid-tab">
                    <div class="row">

                      <div *ngFor="let course of courseData" class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="course__item white-bg mb-30 fix">
                           <div class="course__thumb w-img p-relative fix">
                              <a [routerLink]="['/course-details']">
                                 <img src="{{course.courseImage}}" alt="">
                              </a>
                              <div class="course__tag">
                                 <a href="#" [class]="course.color">{{course.category}}</a>
                              </div>
                           </div>
                           <div class="course__content">
                              <div class="course__meta d-flex align-items-center justify-content-between">
                                 <div class="course__lesson">
                                    <span><i class="far fa-book-alt"></i>
                                        {{course.lesson}} Lesson</span>
                                 </div>
                                 <div class="course__rating">
                                    <span><i class="icon_star"></i>{{course.rating}} (44)</span>
                                 </div>
                              </div>
                              <h3 class="course__title"><a [routerLink]="['/course-details']">
                                  {{course.title}}</a></h3>
                              <div class="course__teacher d-flex align-items-center">
                                 <div class="course__teacher-thumb mr-15">
                                    <img src="{{course.teacherImg}}" alt="">
                                 </div>
                                 <h6><a [routerLink]="['/instructor-details']">{{course.teacherName}}</a></h6>
                              </div>
                           </div>
                           <div class="course__more d-flex justify-content-between align-items-center">
                            <div class="course__status d-flex align-items-center">
                                <span [class]="course.color">${{course.price}}</span>
                                <span class="old-price">${{course.oldPrice}}</span>
                             </div>
                              <div class="course__btn">
                                 <a [routerLink]="['/course-details']" class="link-btn">
                                    Know Details
                                    <i class="far fa-arrow-right"></i>
                                    <i class="far fa-arrow-right"></i>
                                 </a>
                              </div>
                           </div>
                        </div>
                     </div>
                    </div>
                 </div>

                 <div class="tab-pane fade" id="list" role="tabpanel" aria-labelledby="list-tab">
                    <div class="row">

                      <div *ngFor="let course of courseData" class="col-xxl-12">
                        <div class="course__item white-bg mb-30 fix">
                           <div class="row gx-0">
                              <div class="col-xxl-4 col-xl-4 col-lg-4">
                                 <div class="course__thumb course__thumb-list w-img p-relative fix">
                                    <a [routerLink]="['/course-details']">
                                      <img src="{{course.listImg}}" alt="">
                                    </a>
                                    <div class="course__tag">
                                      <a href="#" [class]="course.color">
                                        {{course.category}}
                                      </a>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-xxl-8 col-xl-8 col-lg-8">
                                 <div class="course__right">
                                    <div class="course__content course__content-4">
                                       <div class="course__meta d-flex align-items-center">
                                          <div class="course__lesson mr-20">
                                             <span><i class="far fa-book-alt"></i>
                                              {{course.lesson}} Lesson</span>
                                          </div>
                                          <div class="course__rating">
                                             <span><i class="icon_star"></i>{{course.rating}} (32)</span>
                                          </div>
                                       </div>
                                       <h3 class="course__title">
                                         <a [routerLink]="['/course-details']">
                                        {{course.title}}</a>
                                      </h3>
                                       <div class="course__teacher d-flex align-items-center">
                                        <div class="course__teacher-thumb mr-15">
                                          <img src="{{course.teacherImg}}" alt="">
                                       </div>
                                       <h6>
                                         <a [routerLink]="['/instructor-details']">
                                           {{course.teacherName}}</a>
                                        </h6>
                                       </div>
                                    </div>
                                    <div class="course__more course__more-2 course__more-3 d-flex justify-content-between align-items-center">
                                      <div class="course__status d-flex align-items-center">
                                        <span [class]="course.color">${{course.price}}</span>
                                        <span class="old-price">${{course.oldPrice}}</span>
                                     </div>
                                       <div class="course__btn">
                                          <a [routerLink]="['/course-details']" class="link-btn">
                                             Know Details
                                             <i class="far fa-arrow-right"></i>
                                             <i class="far fa-arrow-right"></i>
                                          </a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>

                    </div>
                 </div>
               </div>

               <!-- app-pagination start -->
              <app-pagination></app-pagination>
               <!-- app-pagination end -->

           </div>
        </div>


        <div class="col-xxl-4 col-xl-4 col-lg-4">
           <div class="course__sidebar pl-70">
              <div class="course__sidebar-search mb-50">
                 <form action="#">
                    <input type="text" placeholder="Search for courses...">
                    <button type="submit">
                       <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 584.4 584.4" style="enable-background:new 0 0 584.4 584.4;" xml:space="preserve">
                          <g>
                             <g>
                                <path class="st0" d="M565.7,474.9l-61.1-61.1c-3.8-3.8-8.8-5.9-13.9-5.9c-6.3,0-12.1,3-15.9,8.3c-16.3,22.4-36,42.1-58.4,58.4    c-4.8,3.5-7.8,8.8-8.3,14.5c-0.4,5.6,1.7,11.3,5.8,15.4l61.1,61.1c12.1,12.1,28.2,18.8,45.4,18.8c17.1,0,33.3-6.7,45.4-18.8    C590.7,540.6,590.7,499.9,565.7,474.9z"/>
                                <path class="st1" d="M254.6,509.1c140.4,0,254.5-114.2,254.5-254.5C509.1,114.2,394.9,0,254.6,0C114.2,0,0,114.2,0,254.5    C0,394.9,114.2,509.1,254.6,509.1z M254.6,76.4c98.2,0,178.1,79.9,178.1,178.1s-79.9,178.1-178.1,178.1S76.4,352.8,76.4,254.5    S156.3,76.4,254.6,76.4z"/>
                             </g>
                          </g>
                       </svg>
                    </button>
                 </form>
              </div>

              <div class="course__sidebar-widget grey-bg">
                 <div class="course__sidebar-info">
                    <h3 class="course__sidebar-title">Categories</h3>
                    <ul>
                       <li>
                          <div class="course__sidebar-check mb-10 d-flex align-items-center">
                             <input class="m-check-input" type="checkbox" id="m-eng">
                             <label class="m-check-label" for="m-eng">English  (6)</label>
                          </div>
                       </li>
                       <li>
                          <div class="course__sidebar-check mb-10 d-flex align-items-center">
                             <input class="m-check-input" type="checkbox" id="m-edu">
                             <label class="m-check-label" for="m-edu">Education  (8)</label>
                          </div>
                       </li>
                       <li>
                          <div class="course__sidebar-check mb-10 d-flex align-items-center">
                             <input class="m-check-input" type="checkbox" id="m-bus">
                             <label class="m-check-label" for="m-bus">Business  (5)</label>
                          </div>
                       </li>
                       <li>
                          <div class="course__sidebar-check mb-10 d-flex align-items-center">
                             <input class="m-check-input" type="checkbox" id="m-design">
                             <label class="m-check-label" for="m-design">UX Design  (3)</label>
                          </div>
                       </li>
                       <li>
                          <div class="course__sidebar-check mb-10 d-flex align-items-center">
                             <input class="m-check-input" type="checkbox" id="m-math">
                             <label class="m-check-label" for="m-math">Mathematics  (3)</label>
                          </div>
                       </li>
                    </ul>
                 </div>
              </div>

              <div class="course__sidebar-widget grey-bg">
                 <div class="course__sidebar-info">
                    <h3 class="course__sidebar-title">Language</h3>
                    <ul>
                       <li>
                          <div class="course__sidebar-check mb-10 d-flex align-items-center">
                             <input class="m-check-input" type="checkbox" id="m-all">
                             <label class="m-check-label" for="m-all">All Language</label>
                          </div>
                       </li>
                       <li>
                          <div class="course__sidebar-check mb-10 d-flex align-items-center">
                             <input class="m-check-input" type="checkbox" id="m-eng-2">
                             <label class="m-check-label" for="m-eng-2">English</label>
                          </div>
                       </li>
                       <li>
                          <div class="course__sidebar-check mb-10 d-flex align-items-center">
                             <input class="m-check-input" type="checkbox" id="m-russ">
                             <label class="m-check-label" for="m-russ">Russian</label>
                          </div>
                       </li>
                    </ul>
                 </div>
              </div>

              <div class="course__sidebar-widget grey-bg">
                 <div class="course__sidebar-info">
                    <h3 class="course__sidebar-title">Price Filter</h3>
                    <ul>
                       <li>
                          <div class="course__sidebar-check mb-10 d-flex align-items-center">
                             <input class="m-check-input" type="checkbox" id="m-all-course">
                             <label class="m-check-label" for="m-all-course">All  (204)</label>
                          </div>
                       </li>
                       <li>
                          <div class="course__sidebar-check mb-10 d-flex align-items-center">
                             <input class="m-check-input" type="checkbox" id="m-free">
                             <label class="m-check-label" for="m-free">Free Courses  (36)</label>
                          </div>
                       </li>
                       <li>
                          <div class="course__sidebar-check mb-10 d-flex align-items-center">
                             <input class="m-check-input" type="checkbox" id="m-premium">
                             <label class="m-check-label" for="m-premium">Premium Courses  (184)</label>
                          </div>
                       </li>
                    </ul>
                 </div>
              </div>

              <div class="course__sidebar-widget grey-bg">
                 <div class="course__sidebar-info">
                    <h3 class="course__sidebar-title">Skill level</h3>
                    <ul>
                       <li>
                          <div class="course__sidebar-check mb-10 d-flex align-items-center">
                             <input class="m-check-input" type="checkbox" id="m-level">
                             <label class="m-check-label" for="m-level">All Levels  (50)</label>
                          </div>
                       </li>
                       <li>
                          <div class="course__sidebar-check mb-10 d-flex align-items-center">
                             <input class="m-check-input" type="checkbox" id="m-beginner">
                             <label class="m-check-label" for="m-beginner">Beginner  (32)</label>
                          </div>
                       </li>
                       <li>
                          <div class="course__sidebar-check mb-10 d-flex align-items-center">
                             <input class="m-check-input" type="checkbox" id="m-intermediate">
                             <label class="m-check-label" for="m-intermediate">Intermediate  (17)</label>
                          </div>
                       </li>
                       <li>
                          <div class="course__sidebar-check mb-10 d-flex align-items-center">
                             <input class="m-check-input" type="checkbox" id="m-expert">
                             <label class="m-check-label" for="m-expert">Expert  (2)</label>
                          </div>
                       </li>
                    </ul>
                 </div>
              </div>

            <!-- app-related-course start -->
            <app-related-course></app-related-course>
            <!-- app-related-course end -->

           </div>
        </div>
     </div>
  </div>
</section>
