<div class="row">
  <div *ngFor="let course of courseData" class="col-xxl-12">
    <div class="course__item white-bg mb-30 fix">
       <div class="row gx-0">
          <div class="col-xxl-4 col-xl-4 col-lg-4">
             <div class="course__thumb course__thumb-list w-img p-relative fix">
                <a (click)="goToCourseDetail(course)">
                  <img src="{{listImg}}" alt="">
                </a>
             </div>
          </div>
          <div class="col-xxl-8 col-xl-8 col-lg-8">
             <div class="course__right">
                <div class="course__content course__content-3">
                   <div class="course__meta d-flex align-items-center">
                   </div>
                   <h3 class="course__title course__title-3">
                      <a (click)="goToCourseDetail(course)">{{course.name}}</a>
                   </h3>
                   <div class="course__summary">
                      <p>Communia virtutes tutiorem declarat stoicorum sanabat oblivisci nostris tamquam iucunditatem</p>
                   </div>
                   <div class="course__teacher d-flex align-items-center">
                      <div class="course__teacher-thumb mr-15">
                         <img src="{{teacherImg}}" alt="">
                      </div>
                      <h6>{{teacherName}}</h6>
                   </div>
                </div>
                <div class="course__more course__more-2 d-flex justify-content-between align-items-center">
                  <!-- <div class="course__status d-flex align-items-center">
                    <span [class]="course.color">${{course.price}}</span>
                    <span class="old-price">${{course.oldPrice}}</span>
                 </div> -->
                   <div class="course__btn">
                      <a (click)="goToCourseDetail(course)" class="link-btn">
                         Know Details
                         <i class="far fa-arrow-right"></i>
                         <i class="far fa-arrow-right"></i>
                      </a>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
</div>
